.aboutHeader {
  color: white;
  font-family: "Open Sans";
  margin-top: 50px;
}
.underLine {
  z-index: 1;
  border: 0;
  border-top: 10px solid #6596cf;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 50px;
  width: 125px;
}

.aboutBio {
  color: white;
  font-family: "Open Sans";
  width: 75%;
}

.aboutBody {
  display: flex;
  flex-direction: row;
}

.aboutEducation {
  font-family: "Open Sans";
  width: 25%;
  text-align: center;
  top: 5000px;
}

.cardHeader {
  color: white;
  background-color: #6596cf;
}
