.aboutContainer {
}
.aboutHeader {
  color: white;
  font-family: "Open Sans";
  padding-top: 50px;
}
.underLine {
  z-index: 1;
  border: 0;
  border-top: 10px solid #6596cf;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 50px;
  width: 135px;
}

.aboutBio {
  color: white;
  font-family: "Open Sans";
  width: 60%;
}

.aboutBody {
  display: flex;
  flex-direction: row;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  margin: auto;
  padding-bottom: 5%;
}
.aboutEducation {
  font-family: "Open Sans";
  width: 40%;
  text-align: center;
}

.cardHeader {
  color: white;
  background-color: #6596cf;
  font-family: "Open Sans";
  padding: 5px 5px 5px 5px;
}

.cardBody {
  font-family: "Open Sans";
  font-size: larger;
}

@media only screen and (min-width: 930px) {
  .card {
    display: flex;
    margin: 5%;
    width: 33%;
    flex-direction: column;
  }
  .cardList li:first-child {
    margin-top: 5%;
  }
  .skillHeader {
    color: #6596cf;
    font-family: "Open Sans";
    margin-top: 5%;
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 930px) {
  .aboutHeader {
    color: white;
    font-family: "Open Sans";
    padding-top: 50px;
    margin: auto;
  }
  .aboutBody {
    flex-direction: column;
  }
  .aboutEducation {
    text-align: center;
    margin: auto;
    margin-top: 15%;
  }
  .aboutBio {
    margin: auto;
    text-align: center;
  }

  .cardContainer {
    flex-direction: column;
    display: flex;
    margin-top: 5%;
  }
  .card {
    display: flex;
    flex-direction: column;
    margin: 3%;
  }
  .cardList li:first-child {
    margin-top: 1%;
  }
  .skillHeader {
    color: #6596cf;
    font-family: "Open Sans";
    margin-top: 10%;
    text-align: center;
  }
}
