.canvasContainer {
  background-color: #353544;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 100vh;
}

.headerItem {
  display: flex;
}

.headerImage {
  bottom: -10px;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  left: 30%;
}

.headerName {
  color: white;
  font-family: "Open Sans";
  margin-top: 150px;
  line-height: 80px;
}

.headerInfo {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-size: xx-large;
  right: 50px;
  top: 65%;
  align-content: center;
  justify-content: center;
  line-height: 40px;
  right: 110px;
}

.buttonLink {
  margin-top: 20px;
  text-align: center;
  color: white;
  border-width: 5px;
  border-color: #6596cf;
  padding: 6px 25px 6px 25px;
  transition: all 0.5s;
  cursor: pointer;
}

.buttonLink:hover {
  background-color: #6596cf;
  border-color: white;
  color: white;
}

.headerDescription {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
}

.underLine {
  z-index: 1;
  border: 0;
  border-top: 10px solid #6596cf;
  margin-top: 25px;
  margin-left: 15px;
  padding: 0;
  margin-bottom: 50px;
  width: 260px;
}

@media only screen and (min-width: 1400px) {
  .canvasContainer {
    padding: 0 180px;
  }
  .headerName {
    margin: auto;
    position: absolute;
  }
  .headerInfo {
    margin: auto;
    position: absolute;
  }

  .mobileImage {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .canvasContainer {
    flex-direction: column;
  }
  .headerImage {
    z-index: -1;
  }
  .headerName {
    margin: auto;
    position: relative;
  }
  .headerItem {
    margin: auto;
    position: relative;
  }
}

@media only screen and (max-width: 400px) {
  .mobileImage {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .canvasContainer {
    flex-direction: column;
  }

  .headerImage {
    z-index: -1;
  }
  .headerItem {
    margin: auto;
    position: relative;
  }
}
