.listing {
  list-style: none;
  color: white;
}

.listing:hover {
  color: #6596cf;
}

.mobileNavContainer {
  background-color: #2a2a32;
  border-bottom: solid black 3px;
  color: white;
}
.mobileNavBar {
  display: flex;
}

.mobileNavButton {
  margin-left: auto;
  display: flex;
  padding: 1%;
}
@media only screen and (max-width: 750px) {
  .desktopNavContainer {
    display: none;
  }
  .mobileNavContainer {
    display: block;
  }
}

@media only screen and (min-width: 750px) {
  .desktopNavContainer {
    display: block;
  }
  .mobileNavContainer {
    display: none;
  }
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: #6596cf;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
