.projectContainer {
  background-color: #ececed;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100wv;
}

.projectInfoWrapper {
  text-align: center;
  align-items: center;
  display: flex;
}
.projectInfoHeader {
  font-family: "Open Sans";
  font-size: xx-large;
}

.projectInfoTech {
  font-family: "Open Sans";
}

.InfoBody {
  margin: auto;
  position: relative;
}

.projectHeader {
  color: black;
  font-family: "Open Sans";
}
.underLine {
  z-index: 1;
  border: 0;
  border-top: 10px solid #6596cf;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 50px;
  width: 175px;
}

.projectLinks {
  color: blue;
}

.projectLinks:hover {
  color: #6596cf;
}
