.projectContainer {
  background-color: #ececed;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectItem {
  display: flex;
  margin: 0 2% 0 2%;
}

.projectInfoWrapper {
  text-align: center;
  align-items: center;
  display: flex;
  margin: auto;
}
.projectInfoHeader {
  font-family: "Open Sans";
  font-size: xx-large;
}

.projectInfoTech {
  font-family: "Open Sans";
}

.InfoBody {
  margin: auto;
  position: relative;
}

.projectHeader {
  color: black;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
}
.underLine {
  z-index: 1;
  border: 0;
  border-top: 10px solid #6596cf;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 50px;
  width: 185px;
}

.projectLinks {
  color: blue;
}

.projectLinks:hover {
  color: #6596cf;
}

.devTag {
  color: white;
  font-family: "Open Sans";
  background-color: rgb(21, 156, 247);
  border-radius: 25px;
  width: 35%;
  margin: auto;
  padding: 1%;
}

@media only screen and (min-width: 930px) {
  .projectHeader {
    margin: 3rem;
  }
}

@media only screen and (max-width: 930px) {
  .projectItem {
    flex-direction: column;
  }
  .projectImage {
    margin: auto;
  }
  .projectHeader {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
